<div class="box-container"
[fxLayout]="boxContainerLayout"
[fxLayoutAlign]="boxContainerLayoutAlign">

  <app-bar-nav
  class="box-nav"
  [fxFlex]="boxNavFlex"></app-bar-nav>

  <div class="box-button-logo-container"
  [fxLayout]="boxButtonLogoContainerLayout"
  [fxLayoutAlign]="boxButtonLogoContainerLayoutAlign"
  [fxFlex]="boxButtonLogoContainerFlex">

    <app-bar-button
    class="box-button"
    [fxFlex]="boxButtonFlex"></app-bar-button>

    <app-bar-logo
    class="box-logo"
    [fxFlex]="boxLogoFlex"
    [fxFlexAlign]="boxLogoFlexAlign"></app-bar-logo>

  </div>
</div>


